body {
    margin: 0;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
    'header header'
    'nav main';
    height: 100vh;
    width: 100vw;
}

header {
    grid-area: header;
    background-color: #18181a;
    align-content: center;
    justify-items: center;
    color: white;
    border-bottom: 3px solid #27282c;
}

nav {
    grid-area: nav;
    background-color: #18181a;
    border-right: 3px solid #27282c;
}

main {
    display: grid;
    grid-template: 200vh / 1fr;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    grid-area: main;
    background-color: #18181a;
}

main::-webkit-scrollbar {
    display: none;
}


footer {
    grid-area: footer;
    background-color: aqua;
}