:root {
    --main-color: #e74c3c
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}



header {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: black;

    align-items: center;
    justify-content: right;
}

input#header-search {
    height: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}






div#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 172px;
    width: 100%;
}

h1#logo-text {
    margin: 0;
    padding: 0;
    font-size: 85px;
    color: black;
}

a#logo-link {
    text-decoration: none;
}





nav {
    display: flex;
    border-top: solid 1px rgb(206, 206, 206);
    border-bottom: solid 1px rgb(206, 206, 206);
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-names {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 20px;
}










div#section-1 {
    width: 100%;

    margin-top: 40px;

    display: grid;
    grid-template-columns: 160px 1fr 160px;
    grid-template-rows: 580px;

    grid-template-areas:
    ". img .";
}

div#image {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100%;
    min-width: 100%;
    background-image: url(../img/adidas.jpg);

    color: white;

}

button#image-button {
    height: 30px;
    width: 150px;
    background-color: var(--main-color);
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 800;
}

h2#image-heading {
    font-size: 80px;
}




div#section-2 {
    width: 100%;
    height: 315px;

    margin-top: 40px;

    display: grid;
    grid-template-columns: 160px 1fr 30px 1fr 30px 1fr 160px;
    grid-template-rows: 1fr;

    grid-template-areas: 
    ". left . middle . right .";
}


div#scroll-list-item-left {
    background-image: url(../img/adidas.jpg);
}

div#scroll-list-item-middle {
    background-image: url(../img/adidas.jpg);
}

div#scroll-list-item-right {
    background-image: url(../img/adidas.jpg);
}

a#first-item {
    grid-area: left;
}

a#second-item {
    grid-area: middle;
}

a#third-item {
    grid-area: right;
}

.scroll-list-item {
    min-height: 100%;
    max-height: 100%;

    min-width: 100%;
    max-width: 100%;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-list-item-header-background {
    background-color: black;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scroll-list-item-subheader {
    font-size: 20px;
}






div#section-3 {
    width: 100%;
    height: 740px;

    margin-top: 40px;

    display: grid;
    grid-template-columns: 160px 1fr 30px 335px 160px;
    grid-template-rows: 410px 330px;
    grid-template-areas:
    ". img . . ."
    ". . . . .";
}

img#section-3-image {
    grid-area: img;
    height: 100%;
    width: 100%;
}