:root {
    --main-color: #e74c3c
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}



header {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: black;

    align-items: center;
    justify-content: right;
}

input#header-search {
    height: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}






div#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 172px;
    width: 100%;
}

h1#logo-text {
    margin: 0;
    padding: 0;
    font-size: 85px;
    color: black;
}

a#logo-link {
    text-decoration: none;
}





nav {
    display: flex;
    border-top: solid 1px rgb(206, 206, 206);
    border-bottom: solid 1px rgb(206, 206, 206);
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-names {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 20px;
}






main {
    height: calc(100vh - 62px - 172px - 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

div#image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 600px;
    min-width: 1700px;
    background-image: url(../img/adidas.jpg);

    color: white;

    border-radius: 10px;
}

button#image-button {
    height: 30px;
    width: 150px;
    background-color: var(--main-color);
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 800;
}

h2#image-heading {
    font-size: 90px;
}






div#scroll-list {
    display: flex;
    min-height: 600px;
    justify-content: space-evenly;
    align-items: center;
}

div#scroll-list-item-left {
    background-image: url(../img/adidas.jpg);
}

div#scroll-list-item-middle {
    background-image: url(../img/adidas.jpg);
}

div#scroll-list-item-right {
    background-image: url(../img/adidas.jpg);
}

.scroll-list-item {
    min-height: 350px;
    max-height: 350px;

    min-width: 400px;
    max-width: 400px;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.scroll-list-item-header-background {
    background-color: black;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scroll-list-item-subheader {
    font-size: 20px;
}